*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Plus Jakarta Sans',sans-serif;
}
body{
  overflow-x: hidden;
  display:flex;
  /* height: 100vh; */
  width: 375px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background: linear-gradient(180deg, #FFFFFF 0%, #F0F1FF 100%);
}
.main-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 16px 16px 0px 16px;
  align-items: center;
}
span{
  color: #f74780;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
}

/* nav bar styles  */

.Nav-bar{
  padding: 16px;
  width:375px  ;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-skilled{
  height: 35px;
  width: 89px;
  object-fit: contain;
}
.getstarted-btn{
  border-radius: 28px;
  width: 140px;
  height: 48px;
  background-color: #13183f;
  border: none;
  text-align: center;
  color: white;
  font-size: 16px;
  line-height: 28px;
  font-weight: 700;
  cursor: pointer;
}
.getstarted-btn:hover{
  background-color: #666ca3;
}

/* header and profile picture */
.for-correction{
  display: grid;
  grid-template-columns: auto;
}
/* header style  */
.header-container{
  margin-top: 38px;
}

.header{
  font-size: 40px;
  font-weight: 800;
  line-height: 50px;
  color: #13183f;
}
.header-paragraph{
  font-weight: 500;
  font-size: 1em;
  line-height: 26px;
  color: #83869a;
  margin-top: 26px;
}
.header-btn{
  border: none;
  color: white;
  font-weight: 700;
  font-size: 1em;
  height: 56px;
  width: 167px;
  margin-top: 24px;
  border-radius: 31.5px;
  background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
  cursor: pointer;
}
.header-btn:hover{
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
}
.content-started:hover{
  color: #FFA7C3;
}

/* profile styles */
.profile-container{
  width: 327px;
  margin: 0 auto;
  margin-top: 2.875rem;
}
.image-hero-desktop,.image-hero-tablet{
  display: none;
}
.profile-img{
  width: 100%;
}
/* content styles */
.content-container{
  display: grid;
  grid-template-columns: auto;
  row-gap: 40px;
}
.check-out-paragraph{
  font-size: 24px ;
  font-weight: 800;
  color: white;
  line-height: 32px;
  padding: 24px 29px 32px 28px;
  width: 100%;
  height: 120px;
  background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
  border-radius: 10px;
}
/* content divs styles */

.inside-content-div{
  padding: 56px 29px 32px 28px;
  /* margin-top: 40px; */
  box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
  background: rgb(255, 255, 255);
  border-radius: 10px; 
  position: relative; 
}
.inside-content-header{
  font-weight: 800;
  font-size: 20px;
  margin-bottom: 1em;
}
.content-paragraph{
  color: #83869a;
  font-weight: 500;
  font-size: 1em;
  line-height: 26px;
  margin-bottom: 24px;
}
.content-started{
  cursor: pointer;
 }
.icon{
  position: absolute;
  left: 8.16%;
  right: 75.51%;
  top: -28px;
  bottom: 80.21%;
}

/* footer */
.footer{
  display: flex;
  padding: 16px 16px 0px 16px;
  margin-top: 80px;
  background: #13183f;
  height: 120px;
  width: 375px;
  align-items: center;
  justify-content: space-between;
}
.footer-btn{
  background: linear-gradient(180deg, #4851FF 0%, #F02AA6 100%);
  border-radius: 28px;
  height: 48px;
  width: 140px;
  border: none;
  color: white;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  cursor: pointer;
  
}
.footer-btn:hover{
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%);
}
@media screen and (min-width:48rem) {
  body{
    width: 48rem;
  }
  .main-container{
    position: relative;
  }
  .main-container,.footer,.Nav-bar{
    width: 48rem;
    padding: 1.5rem 2.5rem 0 2.438rem;
  }
  .for-correction{
    position: relative;
  }
  .header-container{
    width: 24.875rem;
    margin-top: 6.188rem;
    margin-bottom: 13.125rem;
  }
  .image-hero-tablet{
    object-fit: cover;
    display: block;
    position: absolute;
    left: 20rem;
    top: -10rem;
    z-index: -1;

  }
  .profile-img,.image-hero-desktop{
    display: none;
  }
  .content-container{
    grid-template-rows: auto auto auto;
    grid-template-columns: 50% 50%;
    column-gap: 10px ;
    row-gap: 56px ;
  }
  .check-out-paragraph{
    padding: 3.5rem 1.313rem 8.688rem 2rem;
    height: 16.438rem;
  }
}
@media screen  and (min-width:90rem){
 body{
  width: 90rem;
 }  
 .main-container{
  padding: 1.5rem 10.313rem 0 10.313rem;
 }
 .Nav-bar{
  padding: 1.5rem 10.313rem 0 10.313rem;
 }
 .main-container, .footer, .Nav-bar{
  width: 90rem;
 }
 .image-hero-tablet{
  display: none;
 }
 .image-hero-desktop{
  display: block;
  position: absolute;
  top: -16.133rem;
  left: 38rem;
  z-index: -1;
 }
 .header-container{
  margin-bottom: 15.625rem;
  margin-top: 10.75rem;
  width: 28.563rem;
  height: 22.438rem;
 }
 .logo-skilled{
  width: 6.948rem;
  height: 1.73rem;
 }
 .getstarted-btn{
  height: 3.5rem;
  width: 10.438rem;
 }
 .header{
  font-size: 3.5rem;
 }
 .header-paragraph{
  margin-top: 29px;
  font-size: 1.125rem;
 }
 .header-btn{
  margin-top: 40px;
  font-size: 1.125rem;
 }
 .content-container{
  grid-template-columns: 350px 350px  350px ;
  grid-template-rows: 322px 322px;
  row-gap: 5rem  ;
  column-gap: 1.875rem;
 }
 .check-out-paragraph{
  font-size: 2rem;
  padding: 4rem 2rem 8.625rem 2rem;
  height: 322px;
  line-height: 2.5rem;
 }
 .content-paragraph{
  font-size: 1.125rem;
  margin-bottom: 20px;
 }
 .inside-content-header{
  font-size: 1.5rem;
 }
 
}
 /* @media screen  and (min-width:48rem){
    body{
      min-width: 48rem;
      /* height: 100vh; 
    }
    .main-container{
      padding: 24px 40px 0px 39px ;
    
    }
    .Nav-bar,.footer{
      width: 48rem;
      padding: 24px 40px 0 39px;
    }
    .for-correction{
      display: grid;
      grid-template-columns: auto auto;
      position: relative;
    }
    .profile-img{
      display: none;
    }
    .header-container{
    
      width: 398px;
      margin-bottom: 7.331rem;
  
    }    
    .image-hero-desktop{
      display: none;
    }
    .profile-container{
      height: 38rem;
      background-image: url("assets/image-hero-tablet.png");
      background-size: cover;
      background-repeat: no-repeat;
      position: absolute;
      left: 25rem;
      top: -8.75rem;
      margin-top: 0;
    }
    .content-container{
      grid-template-columns: auto auto;
      grid-row-gap: 3.5rem;
      grid-column-gap: 0.688rem;
    }
    .check-out-paragraph{
      height: auto;
      padding-top: 3.5rem;
    }
} */
/* @media screen  and (min-width: 90rem){
  body{
    min-width: 90rem;
  }
  .main-container,.Nav-bar,.footer{
    width: 90rem;
  }
  .main-container{
    padding: 1.5rem 10.313rem 0 10.313rem;
  }
  .Nav-bar{
    padding: 1.5rem 10.313rem 0 10.313rem;
  }
  .profile-container{
    background-image: url("assets/image-hero-desktop.png");
  }
  
  
} */
